/* style.css */
body {
  background-color: aliceblue;
  margin: 0;
}

.container {
  padding: 20px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0;
}

#PlayerCard {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#menuButton {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

#drawer {
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* 样式化水平选项 */
.horizontal-options {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}

.horizontal-options li {
  margin-right: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.horizontal-options a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* 鼠标靠近时改变框架颜色 */
#drawer:hover {
  background-color: #4caf50;
}

/* 版本信息 */
#drawer p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #777;
}

/* 样式化抽屉 */
#drawer {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.horizontal-options {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* 让选项平均分布 */
}

.horizontal-options li {
  width: 30%; /* 设置选项的宽度 */
  text-align: center; /* 居中文本 */
  transition: transform 0.3s; /* 添加过渡效果 */
}

.horizontal-options a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: block; /* 让整个选项可点击 */
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0; /* 初始背景色 */
}

.horizontal-options li:hover a {
  background-color: #4caf50; /* 鼠标靠近时变为绿色 */
  color: #fff; /* 文本颜色变为白色 */
}

/* shop.css */

/* 添加购物车物品的淡出效果 */
.product.fade-out {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

/* 添加购物车物品的淡入效果 */
.product.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

/* 对于小屏幕设备，例如手机 */
@media (max-width: 600px) {
  .container {
    padding: 10px; /* 减小容器的内边距 */
  }

  .horizontal-options {
    flex-direction: column; /* 垂直排列选项 */
  }

  .horizontal-options li {
    width: 100%; /* 选项占满整个宽度 */
    margin-bottom: 10px; /* 选项之间增加一些垂直间距 */
  }
}
