/* shop.css */

/* 基本产品样式 */
.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); /* 一行三列布局，考虑到间距 */
  float: left;
  transition: background-color 0.3s; /* 添加过渡效果 */
  border-radius: 10px; /* 圆角边框 */
  position: relative; /* 用于定位购物车按钮 */
}

/* 鼠标悬停时高亮绿色 */
.product:hover {
  background-color: #aaffaa;
}

/* 购物车按钮样式 */
.addToCartBtn {
  position: absolute;
  top: 10px; /* 距离顶部10px */
  right: 10px; /* 距离右侧10px */
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* 添加过渡效果 */
  border-radius: 50%; /* 圆形按钮 */
}

/* 鼠标悬停在购物车按钮上时变亮 */
.addToCartBtn:hover {
  background-color: #45a049;
}

/* 头部样式 */
header {
  display: contents;
  color: white;
  padding: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100px; /* 根据您的需求调整logo的大小 */
  height: auto;
  display: block;
}

/* 调整页面主体样式，适应头部 */
body {
  padding-top: 50px; /* 为头部预留空间 */
}

/* 荧幕适配 */

/* 对于小屏幕设备（例如手机） */
@media (max-width: 600px) {
  .product {
    width: 100%; /* 占据整个宽度 */
    margin: 0; /* 去除边距 */
  }

  .addToCartBtn {
    top: 5px; /* 调整购物车按钮的位置 */
    right: 5px;
    padding: 3px 6px; /* 调整按钮大小 */
  }
}

/* 对于中等屏幕设备（例如平板） */
@media (min-width: 601px) and (max-width: 1024px) {
  .product {
    width: calc(50% - 20px); /* 一行两列布局 */
  }
}

/* 对于大屏幕设备（例如台式电脑） */
@media (min-width: 1025px) {
  /* 保持默认样式 */
}
