body {
  background-color: aliceblue;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #e74c3c;
}

/* style.css */
.container {
  display: flex;
  justify-content: left;
  align-items: normal;
  height: 10vh;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  background-color: #e74c3c;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  box-shadow: 1px 1.2px 1.8px;
}
